footer {
	background: $black;
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0;
		@include tablet {
			display: block;
		}
	}
	ul {
		@include clear-list();
		@include flex;
	}
	.logo {
		@include tablet {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	a,
	a.h1 {
		color: $off-white;
		text-decoration: none;
		margin-bottom: 0;
	}

	ul.social-menu {
		li {
			margin-right: 15px;
		}
		a {
			padding: 5px;
			font-size: 24px;
			background: transparent;
			color: $off-white;
			&:before,
			&:after {
				display: none;
			}
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
