footer {
	background: #000;
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	ul {
		@include clear-list();
		@include flex;
	}
	a {
		color: $off-white;
	}

	ul.social-menu {
		li {
			margin-right: 15px;
		}
		a {
			padding: 5px;
			font-size: 24px;
			background: $white;
			color: $black;
		}
	}
}
