.skip-nav {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	background: #fff;
	opacity: 0;
	z-index: -1;
	&:focus {
		opacity: 1;
		z-index: 9999;
	}
}

header {
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	.wrapper {
		border-bottom: $base-border;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	.logo {
		a {
			text-decoration: none;
			font-family: $heading-font-family;
			font-size: 48px;
			text-transform: uppercase;
		}
	}
	nav.main-menu {
		display: block;
		@include tablet {
			display: none;
		}
		ul {
			@include clear-list();
		}
		li {
			display: inline-block;
			margin-right: 30px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		a {
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.filter-button {
		display: none;
		@include tablet {
			display: block;
		}
		.btn {
			border-top: none;
		}
	}

	// Mobile Menu
	.hamburger-button {
		z-index: 3;
		display: none;
		@include tablet {
			display: block;
		}
		a.hamburger {
			span.line-box {
				width: 30px;
				display: flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				.line {
					height: 5px;
					width: 100%;
					margin-bottom: 5px;
					background: $black;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.mobile-panel {
		display: none;
		width: 100%;
		position: fixed;
		height: 100%;
		top: 0;
		right: 0;
		background: $white;
		z-index: 2;
		border-right:$base-border;
		transform: translateX(100%);
		@include tablet {
			display: block;
		}
		.wrapper {
			padding: 125px 20px 30px;
			height: 100%;
			border-bottom: none;
		}
		nav.mobile-menu {
			ul {
				@include clear-list();
			}
			li {
				margin-bottom: 20px;
			}
			a {
				font-size: 20px;
				font-weight: 500;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	
}
