.skip-nav {
	position: absolute;
	top: 77px;
	left: 0;
	margin: auto;
	width: 300px;
	text-align: center;
	font-size: 28px;
	right: 0;
	color: #000;
	background: #fff;
	padding: 50px;
	opacity: 0;
	z-index: -1;
	&:focus {
		opacity: 1;
		z-index: 9999;
	}
}

header {
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	.wrapper {
		max-width: $site-width-large;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	.logo {
		a {
			text-decoration: none;
			font-family: $heading-font-family;
			font-size: 48px;
			text-transform: uppercase;
			@include tablet {
				font-size: 24px;
			}
		}
	}
	nav.main-menu {
		display: block;
		@include tablet {
			display: none;
		}
		ul {
			@include clear-list();
		}
		li {
			display: inline-block;
			margin-right: 30px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		a {
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	nav.social {
		ul.social-menu {
			@include flex($justify: flex-start);
		}
		a {
			color: $black;
			&:hover {
				color: $blue;
			}
		}
	}

	// Mobile Menu
	.hamburger {
		z-index: 3;
		display: none;
		@include close-button;
		@include tablet {
			display: block;
		}
	}

	.mobile-panel {
		@include mobile-panels;
		.wrapper {
			padding: 125px 20px 30px;
			height: 100%;
			border-bottom: none;
		}
		nav.mobile-menu {
			ul {
				@include clear-list();
			}
			li {
				margin-bottom: 20px;
			}
			a {
				font-size: 20px;
				font-weight: 500;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}

// Single Subnav
.single-subnav {
	width: 100%;
	border-top: $base-border;
	border-bottom: $base-border;
	@include tablet {
		display: none;
	}
	.wrapper {
		max-width: $site-width-large;
		position: relative;
	}
	nav {
		@include flex;
		padding: 15px 0px;
	}
	ul {
		@include clear-list;
		@include flex(space-between, center);
		width: 100%;
	}
	li {
		// display: inline-block;
		// margin-right: 30px;
		&:last-of-type {
			margin-right: 0;
		}
		a {
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			font-weight: 500;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
		}
	}
	.share {
		position: absolute;
		bottom: -100%;
		right: 20px;
	}
}
