.front-page {
    main {
        padding: 95px 255px 0 0;
    }
    .wrapper {
        max-width: 100%;
        padding: 0 30px;
    }

    .filter-panel {
        position: fixed;
        overflow: scroll;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        border-left: $base-border;
        transition: all $base-duration;
        @include tablet {
            width: 100%;
        }
        .wrapper {
            padding: 125px 20px 30px;
            position: relative;
            width: auto;
            height: 100%;
        }
        .filters {
            padding-bottom: 60px;
        }
        .buttons {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            max-width: 254px;
            @include tablet {
                max-width: 100%;
            }
        }
    }

}
