<footer>
	<div class="wrapper">
		<div class="row">
			<div class="logo footer-logo">
				<a href="/" class="logo h1">Brewdaddy</a>
			</div>
			<nav>
				<ul class="social-menu">
					<li>
						<a href="#"
							><span class="visually-hidden">Facebook</span
							><i
								class="social-icon fab fa-facebook-f"
								aria-hidden="true"
							></i
						></a>
					</li>
					<li>
						<a href="#"
							><span class="visually-hidden">Instagram</span
							><i
								class="social-icon fab fa-instagram"
								aria-hidden="true"
							></i
						></a>
					</li>
					<li>
						<a href="#"
							><span class="visually-hidden">Linkedin</span
							><i
								class="social-icon fab fa-linkedin-in"
								aria-hidden="true"
							></i
						></a>
					</li>
					<li>
						<a href="#"
							><span class="visually-hidden">Email</span
							><i
								class="social-icon far fa-paper-plane"
								aria-hidden="true"
							></i
						></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
