<header>
	<div class="wrapper">
		<div class="row">
			<div class="logo">
				<a href="/">Brewdaddy</a>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Styleguide</a></li>
					<li><a href="/beers.html">Beers</a></li>
					<li><a href="/single.html">Single</a></li>
				</ul>
			</nav>
			<button class="hamburger">
				<span class="visually-hidden">Mobile Menu</span>
				<span class="lines">
					<span class="line"></span>
					<span class="line"></span>
				</span>
			</button>
			<div class="mobile-panel">
				<div class="wrapper">
					<nav class="mobile-menu">
						<ul>
							<li><a href="/">Styleguide</a></li>
							<li><a href="/beers.html">Beers</a></li>
							<li><a href="/single.html">Single</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<button class="btn full-width filter-button">
		Filters <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
	</button>

	<div id="original-panel" class="filter-panel">
		<div class="panel-container">
			<button class="btn full-width back">
				<span class="visually-hidden">Back</span
				><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>
			</button>

			<div class="filters">
				<!-- <button>
					<span class="button-content">
						<span class="button-name display-block"></span>
						<span class="button-values display-block"></span>
					</span>
					<i></i>
				</button> -->
			</div>

			<div class="buttons full-width">
				<button class="btn white filter-apply">Apply</button>
				<button class="btn filter-reset">Reset</button>
			</div>
		</div>
	</div>
</header>
