<header>
	<div class="wrapper">
		<div class="row">
			<div class="logo">
				<a href="/">Brewdaddy</a>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Styleguide</a></li>
					<li><a href="/beers.html">Beers</a></li>
					<li><a href="/single.html">Single</a></li>
				</ul>
			</nav>
			<button class="hamburger">
				<span class="visually-hidden">Mobile Menu</span>
				<span class="lines">
					<span class="line"></span>
					<span class="line"></span>
				</span>
			</button>
			<div class="mobile-panel">
				<div class="wrapper">
					<nav class="mobile-menu">
						<ul>
							<li><a href="/">Styleguide</a></li>
							<li><a href="/beers.html">Beers</a></li>
							<li><a href="/single.html">Single</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="single-subnav">
		<div class="wrapper">
			<nav class="subnav">
				<ul>
					<li><a href="#stats">Stats</a></li>
					<li><a href="#ingredients">Ingredients</a></li>
					<li><a href="#water">Water</a></li>
					<li>
						<a href="#fermentation">Fermentation</a>
					</li>
					<li><a href="#brewing">Brewing</a></li>
					<li><a href="#packaging">Packaging</a></li>
					<li><a href="#gravity">Gravity</a></li>
					<li><a href="#tasting">Tasting</a></li>
					<li><a href="#images">Images</a></li>
				</ul>
			</nav>
			<a href="#" class="btn share"
				>Share<i class="fas fa-share" aria-hidden="true"></i
			></a>
		</div>
	</div>
</header>
