<header>
	<div class="wrapper">
		<div class="row">
			<div class="logo">
				<a href="/">Brewdaddy</a>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="/">Styleguide</a></li>
					<li><a href="/beers.html">Beers</a></li>
					<li><a href="/single.html">Single</a></li>
				</ul>
			</nav>
			<div class="hamburger-button">
				<a href="#" class="hamburger">
					<span class="line-box">
						<span class="line"></span>
						<span class="line"></span>
						<span class="line"></span>
					</span>
				</a>
			</div>
			<div class="mobile-panel">
				<div class="wrapper">
					<nav class="mobile-menu">
						<ul>
							<li><a href="/">Styleguide</a></li>
							<li><a href="/beers.html">Beers</a></li>
							<li><a href="/single.html">Single</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="filter-button">
		<div class="buttons full-width">
			<a href="#" class="btn">Filters</a>
		</div>
	</div>
	<div class="single-subnav">
		<div class="wrapper">
			<nav class="subnav">
				<ul>
					<li><a href="#stats">Stats</a></li>
					<li><a href="#ingredients">Ingredients</a></li>
					<li><a href="#water">Water</a></li>
					<li>
						<a href="#fermentation-notes">Fermintation Notes</a>
					</li>
					<li><a href="#brewing-log">Brewing Log</a></li>
					<li><a href="#packaging">Packaging</a></li>
					<li><a href="#gravity">Gravity</a></li>
					<li><a href="#tasting-notes">Tasting Notes</a></li>
					<li><a href="#images">Images</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
