<button class="btn modal-1234">Modal</button>

<div id="modal-1234" class="modal" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modal-1234-title"
		>
			<div class="modal__content">
				<button
					class="modal__close styled-btn"
					aria-label="Close modal"
					data-micromodal-close
				>
					Close
				</button>
				<div class="color"></div>
				<h1 class="label h6">Beer Style - Beer Sub Style</h1>
				<h2 id="modal-1234-title" class="title h1">
					Claudia Pepperfield
				</h2>
				<div class="description">
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing
						elit. Illo ipsum ad cumque. Dolor voluptas similique,
						ullam eius odio nihil maiores?
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Nemo porro assumenda ad fugit id pariatur aliquid,
						repudiandae odio voluptatibus veritatis ex sequi eos nam
						accusamus aut saepe magni voluptatum maxime!
					</p>
				</div>
				<div class="stats">
					<div class="stat">
						<p class="h4">5.6% ABV | 23 IBU</p>
					</div>
					<div class="stat"><p class="h4">Version 15</p></div>
				</div>
				<h3 class="table-title">Ingredients</h3>
				<div class="table-content grid">
					<table>
						<thead>
							<tr>
								<th>Grains</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>German Pilsner</td>
							</tr>
							<tr>
								<td>German Munich</td>
							</tr>
							<tr>
								<td>Spelt</td>
							</tr>
							<tr>
								<td>American White Wheat</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th>Hops</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Saaz</td>
							</tr>
							<tr>
								<td>Hallertau Mittlefrau</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th>Other</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Yeast Nutrient</td>
							</tr>
							<tr>
								<td>Whirlfloc</td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
							<tr>
								<th>Yeast/Bacteria</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>White Laps WLP565</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="buttons">
					<a href="#" class="btn recipe-button"
						>Full Recipe
						<i
							class="fas fa-long-arrow-alt-right"
							aria-hidden="true"
						></i
					></a>
				</div>
			</div>
		</div>
	</div>
</div>
