<div class="single-subnav">
	<div class="wrapper">
		<nav class="subnav">
			<ul>
				<li><a href="#stats">Stats</a></li>
				<li><a href="#ingredients">Ingredients</a></li>
				<li><a href="#water">Water</a></li>
				<li>
					<a href="#fermentation">Fermentation</a>
				</li>
				<li><a href="#brewing">Brewing</a></li>
				<li><a href="#packaging">Packaging</a></li>
				<li><a href="#gravity">Gravity</a></li>
				<li><a href="#tasting">Tasting</a></li>
				<li><a href="#images">Images</a></li>
			</ul>
		</nav>
		<a href="#" class="btn share"
			>Share<i class="fas fa-share" aria-hidden="true"></i
		></a>
	</div>
</div>
