.block.basic-content {
	&.align-left {
		text-align: left;
	}
	&.align-center {
		text-align: center;
	}
	&.align-right {
		text-align: right;
	}
	.wrapper {
		max-width: $site-width-medium;
	}
	.content {
		max-width: $site-width-small;
	}
}
