.block.slider {
	margin-bottom: $bottom-margin-large;
	.wrapper {
		max-width: $site-width-small;
	}
	.glide__track {
		border: $base-border;
	}
	.glide__slides {
		margin: 0;
	}
	.glide__slide {
		height: 500px;
		position: relative;
		@include tablet {
			height: 300px;
		}
	}
	.glide__slide {
	}
	figure {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
	.glide__nav {
		width: 100%;
		margin-top: 30px;
		position: relative;
	}
	.glide__arrows {
		@include flex(space-between);
		@include tablet {
			display: none;
		}
	}
	.glide__bullets {
		position: absolute;
		width: 450px;
		height: 100%;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		@include flex;
		@include tablet {
			width: 100%;
		}
	}
	.glide__bullet {
		width: 15px;
		height: 15px;
		background: $white;
		border: $base-border;
		padding: 0;
		margin-right: 7px;
		&:last-of-type {
			margin-right: 0;
		}
		&--active {
			background: $black;
		}
	}
}
