.block.top-card {
	.wrapper {
		max-width: $site-width-large;
	}
	.row {
		border: $base-border;
		position: relative;
		@include flex(center, center);
		@include tablet {
			display: block;
		}
	}
	.col {
		height: auto;
		&:first-of-type {
			flex: 1.5;
			align-self: stretch;
			@include tablet {
				height: 400px;
			}
		}
		&:last-of-type {
			flex: 2;
		}
	}
	.image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-right: $base-border;
		@include tablet {
			border-right: none;
			border-bottom: $base-border;
		}
	}
	.content {
		padding: 30px;
	}

	@include top-card;
}
