.block.top-card {
	padding-top: 60px;
	.row {
		border: $base-border;
		position: relative;
	}
	.content {
		padding: 30px 30px 0 30px;
	}
	.color {
		@include beer-color(30px);
	}
	.label {
		display: inline-block;
		border-bottom: 2px solid $black;
		margin-bottom: 20px;
	}
	.title {
		margin-bottom: 20px;
	}
	.description {
		margin-bottom: 10px;
	}
	.stats {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.stat p.h4 {
			@include tablet {
				font-size: 12px;
			}
		}
	}

	.top-row,
	.bottom-row {
		display: flex;
		border-top: $base-border;
		@include tablet {
			flex-direction: column;
			border-top: none;
		}
	}
	.top-row {
		@include tablet {
			border-top: $base-border;
		}
	}
	.cell {
		height: 75px;
		flex: 1;
		text-align: center;
		border-right: $base-border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:last-of-type {
			border-right: none;
		}
		p {
			margin: 0;
			font-size: 12px;
		}
		@include tablet {
			flex-direction: row;
			border-bottom: $base-border;
			border-right: none;
			padding: 6px;
		}
	}
	.bottom-cell {
		height: 50px;
		@include tablet {
			height: auto;
		}
		&:last-of-type {
			@include tablet {
				border-bottom: none;
			}
		}
	}
	.cell-info {
		font-weight: 900;
		@include tablet {
			padding-left: 7px;
		}
	}
}
