#stats {
	overflow: hidden;
}

.block.top-card {
	.wrapper {
		max-width: $site-width-large;
	}
	.row {
		border: $base-border;
		position: relative;
		@include flex($wrap: nowrap);
		@include tablet {
			display: block;
		}
	}
	.col {
		position: relative;
		flex: 1;
		align-self: stretch;
		&:first-of-type {
			@include mobile-only {
				height: 275px;
			}
		}
		&:last-of-type {
			background: $white;
			flex: 1.25;
			@include flex($justify: flex-start);
		}
	}
	.stat p.h3 {
		margin-bottom: 0;
	}
	.image-background {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translateY(100%);
	}
	.image {
		height: 100%;
		width: 100%;
		border-right: $base-border;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 500px;
		@include tablet {
			min-height: 300px;
			border-right: none;
			border-bottom: $base-border;
		}
		@include mobile-only {
			min-height: 0;
		}
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.content {
		padding: 30px;
		width: 100%;
	}

	@include top-card;
}
