<%= require('html-loader!../components/head.html') %>


<body class="search">
	<div id="app">
		<%= require('html-loader!../components/header.html') %>
		
		<main>
			<%= require('html-loader!../blocks/hero-style-2.html') %>
			<%= require('html-loader!../components/filters.html') %>

			<%= require('html-loader!../blocks/listing.html') %>

		</main>

		<%= require('html-loader!../components/footer.html') %>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>