<%= require('html-loader!../components/head.html') %>


	<body class="single">
		<div id="app">
			<%= require('html-loader!../components/header-single.html') %>

			<main>
				<%= require('html-loader!../blocks/top-card.html') %>

				<section id="ingredients" class="block table">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Ingredients</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="table-content">
							<h3 class="table-title">Grains</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Name:</th>
										<th>Quantity:</th>
										<th>Lovibond:</th>
										<th>% of Total:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>78.53%</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>78.53%</td>
									</tr>
									<tr>
										<td>German - Spalt Malt</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>78.53%</td>
									</tr>
									<tr>
										<td>American - White Wheat</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>78.53%</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-content">
							<h3 class="table-title">Hops</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Name:</th>
										<th>Quantity:</th>
										<th>AA:</th>
										<th>Timing:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
									<tr>
										<td>German - Spalt Malt</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-content">
							<h3 class="table-title">Other</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Name:</th>
										<th>Quantity:</th>
										<th>Timing:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>German - Spalt Malt</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>American - White Wheat</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-content">
							<h3 class="table-title">Yeast</h3>
							<table class="yeast-names">
								<thead>
									<tr>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Yeast Name 1</td>
									</tr>
									<tr>
										<td>Yeast Name 2</td>
									</tr>
									<tr>
										<td>Bacteria Name 1</td>
									</tr>
								</tbody>
							</table>
							<table class="yeast-schedule">
								<thead>
									<tr>
										<th>Temperature:</th>
										<th>Duration:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
									<tr>
										<td>170&deg;F</td>
										<td>100 min</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="water" class="block table">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Water</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="table-content">
							<h3 class="table-title">Water Profile</h3>
							<table class="table-fixed lines" data-mobile-table="true">
								<thead>
									<tr>
										<th>CA<sup>+2</sup></th>
										<th>MG<sup>+2</sup></th>
										<th>NA<sup>+</sup></th>
										<th>CI<sup>-</sup></th>
										<th>SO4<sup>-2</sup></th>
										<th>HCO<sup>3-</sup></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>58</td>
										<td>24</td>
										<td>0</td>
										<td>8</td>
										<td>39</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-content">
							<h3 class="table-title">Mash</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Volume:</th>
										<th>Temperature:</th>
										<th>Duration:</th>
										<th>Discription:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-content">
							<h3 class="table-title">Water Additions</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Name:</th>
										<th>Quantity:</th>
										<th>Timing:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>German - Spalt Malt</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
									<tr>
										<td>American - White Wheat</td>
										<td>7.75 lbs</td>
										<td>123</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="fermentation" class="block basic-content align-left">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Fermintation Notes</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="row">
							<div class="content">
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
							</div>
						</div>
					</div>
				</section>

				<section id="brewing" class="block basic-content">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Brewing Log</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="row">
							<div class="content">
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
							</div>
						</div>
					</div>
				</section>

				<section id="packaging" class="block table">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Packaging</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="table-content">
							<h3 class="table-title">Mash</h3>
							<table data-mobile-table="true">
								<thead>
									<tr>
										<th>Volume:</th>
										<th>Temperature:</th>
										<th>Duration:</th>
										<th>Discription:</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Belgium - Pilsner</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
									<tr>
										<td>Munich - Light 10L</td>
										<td>7.75 lbs</td>
										<td>123</td>
										<td>30 min</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="gravity" class="block table">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Gravity</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="table-content grid">
							<table>
								<thead>
									<tr>
										<th>Original Gravity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gravity: 1.001</td>
									</tr>
									<tr>
										<td>Date: 1/12/2021</td>
									</tr>
								</tbody>
							</table>
							<table>
								<thead>
									<tr>
										<th>Pre Boil Gravity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gravity: 1.001</td>
									</tr>
									<tr>
										<td>Date: 1/12/2021</td>
									</tr>
								</tbody>
							</table>
							<table>
								<thead>
									<tr>
										<th>Post Boil Gravity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gravity: 1.001</td>
									</tr>
									<tr>
										<td>Date: 1/12/2021</td>
									</tr>
								</tbody>
							</table>
							<table>
								<thead>
									<tr>
										<th>Pre Boil Gravity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gravity: 1.001</td>
									</tr>
									<tr>
										<td>Date: 1/12/2021</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<section id="tasting" class="block basic-content">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Tasting Notes</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="row">
							<div class="content">
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
								<p>
									Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Reprehenderit, reiciendis.
									Aliquam omnis fugiat alias esse ullam facere
									cum reprehenderit ut suscipit? Suscipit a
									explicabo reiciendis ut, pariatur fugiat
									aliquid sapiente, in atque temporibus, iste
									sunt maxime totam aliquam facere deleniti
									earum hic ipsam recusandae aperiam ea veniam
									dignissimos quas. Repellat.
								</p>
							</div>
						</div>
					</div>
				</section>

				<%= require('html-loader!../blocks/slider.html') %>

				<section class="block listing grid">
					<div class="component intro margin-small">
						<div class="wrapper">
							<div class="intro-content">
								<h2 class="title">Related Recipes</h2>
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="items">
							<div class="item">
								<div class="content">
									<div class="color"></div>
									<h1 class="label h6">Beer Style - Beer Sub Style</h1>
									<h2 class="title h1">Claudia Pepperfield</h2>
									<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, blanditiis!</p>
									<div class="stats">
										<div class="stat"><p>5.6% ABV | 24 IBU</p></div>
										<div class="stat"><p>Batch No. 15</p></div>
									</div>
									<div class="buttons full-width">
										<a href="#" class="btn white">Quick View</a>
										<a href="#" class="btn">Full Recipe</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="content">
									<div class="color"></div>
									<h1 class="label h6">Beer Style - Beer Sub Style</h1>
									<h2 class="title h1">Claudia Pepperfield</h2>
									<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, blanditiis!</p>
									<div class="stats">
										<div class="stat"><p>5.6% ABV | 24 IBU</p></div>
										<div class="stat"><p>Batch No. 15</p></div>
									</div>
									<div class="buttons full-width">
										<a href="#" class="btn white">Quick View</a>
										<a href="#" class="btn">Full Recipe</a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="content">
									<div class="color"></div>
									<h1 class="label h6">Beer Style - Beer Sub Style</h1>
									<h2 class="title h1">Claudia Pepperfield</h2>
									<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, blanditiis!</p>
									<div class="stats">
										<div class="stat"><p>5.6% ABV | 24 IBU</p></div>
										<div class="stat"><p>Batch No. 15</p></div>
									</div>
									<div class="buttons full-width">
										<a href="#" class="btn white">Quick View</a>
										<a href="#" class="btn">Full Recipe</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="block pagination">
					<div class="wrapper">
						<div class="row">
							<div class="buttons pagination">
								<a href="#" class="btn white left">
									<i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i> Prev Recipe
								</a>
								<a href="#" class="btn view-all">View All Recipes</a>
								<a href="#" class="btn white right">
									Next Recipe <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</section>

			</main>
			<%= require('html-loader!../components/footer.html') %>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	</body>
</html>
