// Global Button Styles
button {
	cursor: pointer;
}

#{$all-buttons} {
	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

// Theme Buttons

.btn {
	@include btn-base();
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	i {
		font-size: 14px;
		margin-left: 7px;
		&.left {
			margin-left: 0;
			margin-right: 7px;
		}
	}
	&.btn-small {
		font-size: 12px;
		min-width: 0;
		padding: 8px 5px 7px;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $white;
		// @include pink-gradient;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translateX(-100%);
		transition: all $base-duration $base-timing;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $black;
		z-index: -1;
		transform: translateX(0%);
		transition: all $base-duration $base-timing;
	}
	&.full-width {
		width: 100%;
	}
	&.white {
		color: $black;
		border: $base-border;
		&.full-width {
			border-left: none;
			border-right: none;
			border-top: none;
		}
		&:before {
			background: $black;
		}
		&:after {
			background: $white;
		}
		&:hover,
		&:focus {
			color: $off-white;
		}
	}

	&.white-outline {
		border: 2px solid $off-white;
		color: $off-white;
		background: $black;
		&:hover {
			background: $off-white;
			color: $black;
			border: 2px solid $off-white;
		}
		&:before {
			background: $off-white;
		}
		&:after {
			background: $black;
		}
	}

	&:hover,
	&:focus {
		background: transparent;
		color: $black;
		border: $base-border;
		text-decoration: underline;
		&:before {
			transform: translateX(0%);
		}
		&:after {
			transform: translateX(100%);
		}
	}
}
.buttons {
	position: relative;
	.btn {
		@include mobile-only {
			width: 100%;
		}
		&:nth-child(2) {
			margin-left: 20px;
			margin-top: 0;
			@include mobile-only {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}
	&.full-width {
		width: 100%;
		display: flex;
		.btn {
			width: 100%;
			min-width: 0;
			border-left: none;
			&:nth-child(2) {
				margin-left: 0;
				border-right: none;
				@include mobile-only {
					// margin-left: 0;
					margin-top: 0;
				}
			}
		}
	}
	&.pagination {
		width: 100%;
		@include flex(space-between);
		@include mobile-only {
			@include flex(center);
		}
		.btn {
			margin-bottom: 30px;
			&:nth-child(2) {
				margin-left: 0;
			}
			&.view-all {
				margin-left: none;
				@include mobile-only {
					order: 3;
				}
			}
			&.left {
				@include mobile-only {
					order: 1;
					margin-right: 5px;
				}
			}
			&.right {
				@include mobile-only {
					order: 2;
					margin-left: 5px;
				}
			}
		}
	}
}
p + .buttons {
	padding-top: 0; // Top padding for buttons under paragraphs
}

// Mobile Filter Button
.filter-button {
	display: none;
	@include tablet {
		display: block;
	}
}

// Close Button
.close-button {
	@include close-button;
	border: $base-border;
}
