form,
body .gform_wrapper form {
	max-width: 800px;
	margin: 0 auto;
	font-family: $base-font-family;
	color: $base-font-color;
}

fieldset {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	font-weight: 600;
	margin-bottom: $small-spacing / 2;
	padding: 0;
}

label,
h3.facet-label {
	display: block;
	margin-bottom: 3px;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	font-family: $base-font-family;
	text-transform: uppercase;
}

input,
select,
textarea,
.fs-label-wrap {
	display: block;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	font-family: $base-font-family;
	text-transform: uppercase;
	width: 100%;
	&:focus {
		@include focus;
	}
}

#{$all-text-inputs} {
	width: 100%;
	margin-bottom: 1rem;
	padding: $input-padding;

	color: inherit;
	background-color: inherit; // $_form-background-color
	border: $base-border;
	border-radius: $base-border-radius;
	box-shadow: none;
	box-sizing: border-box;
	appearance: none;
	transition: border-color $base-duration $base-timing;
	&:hover {
		border-color: shade($base-border-color, 20%);
	}
	&:focus {
		border-color: $base-border-color;
		box-shadow: none;
		outline: none;
	}
	&:disabled {
		background-color: shade($_form-background-color, 5%);
		cursor: not-allowed;
		&:hover {
			border: $base-border;
		}
	}
	&::placeholder {
		color: tint($base-font-color, 60%);
	}
}

[type="range"] {
	margin-bottom: $small-spacing;
}

textarea {
	resize: vertical;
}

// Checkboxes and radio buttons
input[type="checkbox"],
input[type="radio"],
body .gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
body .gform_wrapper ul.gfield_radio li input[type="radio"] {
	& + label {
		margin: 0;
		&:before {
			content: "";
			width: 1rem;
			height: 1rem;
			border: 2px solid $black;
			display: inline-block;
			margin-right: 0.6rem;
			transform: translateY(0.16rem);
		}
	}
	&:checked + label {
		font-weight: 400;
		&:before {
			background: $black;
		}
	}
}

input[type="radio"],
body .gform_wrapper ul.gfield_radio li input[type="radio"] {
	& + label:before {
		border-radius: 50%;
	}
}

input[type="checkbox"],
input[type="radio"],
input[type="file"],
select {
	&:focus {
		border-color: $base-border-color;
		box-shadow: none;
		outline: none;
	}
}

input[type="file"] {
	margin-bottom: $small-spacing;
	width: 100%;
}

/* Custom select styling */
select,
.fs-label-wrap {
	@include select;

	/* Hide arrow icon in IE browsers */
	&::-ms-expand {
		display: none;
	}

	/* Set options to normal weight */
	option {
		font-weight: normal;
	}

	/* Disabled styles */
	&:disabled,
	&[aria-disabled="true"] {
		color: graytext;
	}

	&:disabled:hover,
	&[aria-disabled="true"] {
		border-color: #aaa;
	}

	&:focus {
		@include focus;
	}
}

body .gform_wrapper.gf_browser_chrome select {
	padding: 2px 32px 2px 10px;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] select,
:root:lang(ar) select,
:root:lang(iw) select {
	background-position: left 0.7em top 50%, 0 0;
	padding: 0.6em 0.8em 0.5em 1.4em;
}

// End custom select styling

input[type="search"] {
	box-sizing: border-box;
}

// Submits are styled in buttons.scss

form input[type="submit"] {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 3px 46px 3px 8px;

	font-family: $base-font-family;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	line-height: 1.4;
	text-decoration: underline;

	color: $btn-text-color;
	background-color: $btn-bg-color;
	border: none;

	transition: all $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	appearance: none;
	box-sizing: content-box;
	cursor: pointer;

	background-repeat: no-repeat;
	background-size: 28px 15px;
	background-position: 90% 50%;

	&:hover {
		color: $white;
		background-color: $black;
		background-position: 100% 50%;
	}
	&:focus {
		outline: $focus-outline;
		outline-offset: 3px;
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

// BrewDaddy
.filter {
	margin-bottom: 10px;
	&.select:last-of-type {
		margin-bottom: 20px;
	}
}

.fieldset {
	select,
	.fs-label-wrap {
		background-image: url("../../assets/img/chevron-down.png");
	}
	&.open {
		select,
		.fs-label-wrap {
			background-image: url("../../assets/img/chevron-up.png");
		}
	}
}
