@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.search main {
	@include tablet {
		padding: 121px 0px 0px;
	}
}

.single main {
	padding: 200px 0 60px 0;
	@include tablet {
		padding: 71px 0 60px;
	}
}

main {
	padding: 95px 0 60px 0;
	@include tablet {
		padding: 71px 0 60px;
	}
}

.block {
	margin-bottom: $bottom-margin-large;
	&:first-of-type {
		padding-top: $bottom-margin-large;
		@include tablet {
			padding-top: $bottom-margin-large / 2;
		}
	}
	@include tablet {
		margin-bottom: $bottom-margin-large / 2;
	}
}

.single .block:first-of-type {
	padding-top: $bottom-margin-large / 2;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	&.front-end {
		padding-top: 200px;
	}
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex: 1;
	}
}

.wrapper {
	width: 100%;
	max-width: $site-width-large;
	margin: auto;
	padding: 0 30px;
}

// .single .block .wrapper,
// .single .component .wrapper {
// 	max-width: $site-width-single;
// }

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
	position: absolute;
	right: 999999999px;
	width: 0;
	height: 0;
	opacity: 0;
}

// Pagination
.block.pagination {
	.wrapper {
		max-width: $site-width-medium;
	}
}

// Beer Color
@each $beerColor, $i in $beerColors {
	.color {
		&.#{$beerColor} {
			background-color: $i;
		}
	}
}
