table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	table-layout: auto;
	text-align: left;
	background: $white;
	&.table-fixed {
		table-layout: fixed;
		td,
		th {
			text-align: center;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-left: 0;
			}
		}
	}
	&.lines {
		td {
			border-right: $base-border;
		}
	}
}

thead {
	line-height: $heading-line-height;
	vertical-align: bottom;
	background: $black;
}

tbody {
	vertical-align: top;
}

tr {
	border: $base-border;
}

td,
th {
	padding: 16px 0;
	text-transform: uppercase;
	// text-align: center;
	&:first-of-type {
		padding-left: 30px;
	}
	&:last-of-type {
		padding-left: 30px;
	}
}

th {
	color: $off-white;
	font-weight: 14px;
	line-height: 1;
	font-weight: 500;
}

td {
	font-size: 14px;
	padding: 11px 0;
}

// Mobile Tables
.mobile-table {
	margin-bottom: 20px;
	tr:first-of-type {
		background-color: $black;
		color: $off-white;
		font-weight: 500;
	}
}
