table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	table-layout: auto;
	text-align: left;
	background: $white;
}

thead {
	line-height: $heading-line-height;
	vertical-align: bottom;
	background: $black;
}

tbody {
	vertical-align: top;
}

tr {
	border: $base-border;
}

td,
th {
	padding: 7px;
	text-transform: uppercase;
	&:first-of-type {
		padding-left: 30px;
	}
	&:last-of-type {
		padding-left: 30px;
	}
}

th {
	color: $off-white;
	font-weight: 14px;
	line-height: 1;
	font-weight: 500;
	padding: 10px 0;
}

td {
	font-size: 12px;
	padding: 6px 0;
}

// Mobile Tables
.mobile-table {
	margin-bottom: 20px;
	tr:first-of-type {
		background-color: $black;
		color: $off-white;
		font-weight: 500;
	}
}

// Table-Content Elements (like on the Single Pages)
.table-content {
	margin-bottom: 30px;
	h3.table-title {
		margin-bottom: 7px;
	}
}
